<!DOCTYPE html>
<html lang="en">
<head>
	<title>Access Albums</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='contract/images/icons/favicon.ico') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='contract/vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='contract/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='contract/fonts/iconic/css/material-design-iconic-font.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='contract/vendor/animate/animate.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='contract/vendor/css-hamburgers/hamburgers.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='contract/vendor/animsition/css/animsition.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='contract/vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='contract/vendor/daterangepicker/daterangepicker.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='contract/vendor/noui/nouislider.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='contract/css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='contract/css/main.css') }}">
<!--===============================================================================================-->
</head>
<body>
	<script>
		function enableFunction(){
			document.getElementById('alb_id').disabled=false;
			document.getElementById('art_name').disabled=false;
		}
	</script>

	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" method="POST" enctype="multipart/form-data" onsubmit="enableFunction()">
				{% block content %}
                        <div class="container">
                            {% for message in get_flashed_messages() %}
                            <div class="alert alert-warning">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <font color='red'>{{ message }}</font>
                            </div>
                            {% endfor %}

                            {% block page_content %}{% endblock %}
                        </div>
                {% endblock %}
				<span class="contact100-form-title">
					Choose album to Access
				</span>

				<div class="wrap-input100 input100-select bg1">
					<span class="label-input100">Select an Album *</span>
					<div>
						<select class="js-select2" name="album_name" id="select_album">

						</select>
						<div class="dropDownSelect2"></div>
					</div>
				</div>

				<div class="wrap-input100 input100-select bg1">
					<span class="label-input100">Select a Song *</span>
					<div>
						<select class="js-select2" name="song_name" id="select_song">

						</select>
						<div class="dropDownSelect2"></div>
					</div>
				</div>


                <div class="wrap-input100 bg1 rs1-wrap-input100">
					<span class="label-input100">Album ID *</span>
					<input id="alb_id" class="input100" type="text" name="alb_id" disabled>
                </div>
                
                <div class="wrap-input100 bg1 rs1-wrap-input100">
					<span class="label-input100">Artist Name </span>
					<input id="art_name" class="input100" type="text" name="art_name" disabled>
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn" type="submit">
						<span>
							Get Access
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>



<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='contract/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='contract/vendor/animsition/js/animsition.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='contract/vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ url_for('static', filename='contract/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='contract/vendor/select2/select2.min.js') }}"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});


			$(".js-select2").each(function(){
				$(this).on('select2:close', function (e){
					if($(this).val() == "Please chooses") {
						$('.js-show-service').slideUp();
					}
					else {
						$('.js-show-service').slideUp();
						$('.js-show-service').slideDown();
					}
				});
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='contract/vendor/daterangepicker/moment.min.js') }}"></script>
	<script src="{{ url_for('static', filename='contract/vendor/daterangepicker/daterangepicker.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='contract/vendor/countdowntime/countdowntime.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='contract/vendor/noui/nouislider.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='contract/js/main.js') }}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

<script>
    var container = document.getElementById("select_album");
	
    var album_names= {{ album_names | tojson }};
	
    
    container.insertAdjacentHTML('beforeend', '<option disabled selected value>-- select an option --</option>')
	
    for( i=0; i<album_names.length; i++){
      container.insertAdjacentHTML('beforeend', '<option>'+album_names[i]+'</option>');
    }
</script>


<script>
	$("#select_album").on("change", function() {
		var container1 = document.getElementById("select_song");
		var album_names= {{ album_names | tojson }};
    	var album_ids= {{ album_ids | tojson }};
        var art_name= {{ art_name | tojson }};
		var song_names = {{ song_names | tojson }};

		container1.innerHTML='<option disabled selected value>-- select an option --</option>';

		var n=album_names.indexOf($("#select_album").val());
		for( i=0; i<song_names[n].length; i++){
      		container1.insertAdjacentHTML('beforeend', '<option>'+song_names[n][i]+'</option>');
    	}
		$("#alb_id").val(album_ids[n]);
        $('#art_name').val(art_name[n]);
		
	});
</script>



</body>
</html>
